.map { 
  height: 50rem;
  width: 80rem;
}

.headertext{
  font-size: 3rem;
  font-family: monospace;
}

.headercontainer {
  height: 3.5rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid #e4e4e4;
  min-width: 80rem;
}
